BirdsAndPaintballs/Binaries/Android/BirdsAndPaintballs-armv7-es2.apk
BirdsAndPaintballs/Saved/Autosaves/*
BirdsAndPaintballs/Saved/Backup/*
BirdsAndPaintballs/Intermediate/Android/*
BirdsAndPaintballs/Saved/Cooked/Android/*
BirdsAndPaintballs/Binaries/Android/*
BirdsAndPaintballs/Intermediate/*
